<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Punchout_Cookie2" setup_version="0.3.1">
        <sequence>
            <module name="Magento_Framework" />
            <module name="Magento_Cookie" />
        </sequence>
    </module>
</config>
